
<div class="imagebackground" >
   
    <div class="title-box">
    <h1><%= title  %></h1>
    <a href="/movies" >Check the movies!</a>
   </div>
    
    <!-- <img src="/images/cinema.jpg" alt=""> -->
    
</div>


